a:hover{
  text-decoration: none;
}
body{
  background-color: rgb(194, 223, 255);
  font-family: 'Oswald', sans-serif;
}
h4{
  text-align: center;
}
footer{
  margin-top: 10px;
  text-align: center;
}
li{
  list-style: none;
}
.aboutMe{
  text-indent: 20px;
  border: 2px solid #FFF;
  border-radius: 10px;
  font-size: 18px;
}
.carousel{
  height: 600px;
}
.carousel .item{
    height: 600px;
    margin-bottom: 60px;
    width: 100%;
}
.carousel-inner> .item > img{
  height: 600px;
  width: 100%;
}
.carousel-caption img{
  height: 220px;
  width: 320px;
}
.menu{
  z-index: 99;
  background: rgba(37, 84, 199, 1);
  padding: 8px;
}
.menu li{
  margin: 0px 5px;
}
/* Main marketing message and sign up button */
.jumbotron {  
  text-align: center;
  border: 2px solid #e4e4e2;
  border-radius: 10px;
  height: 300px;
  margin: 65px;
  background: url(http://users.rowan.edu/~becket98/portfolios.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 300px;   
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.sticky {
    position:fixed;
    top:0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*Contact*/
.contact-panel{
  background-color: rgb(21, 105, 199);
  border: 1px solid rgb(34 ,34, 34);
  border-radius: 10px;
  padding: 10px;
  height: 500px;
  margin-top: 50px;
}
.contact-panel h4{
  color: #FFF;
}
.contactpanel{
  float: right;
  margin: 5px 10px;
  height: 400px;
}
.emailMe{
  margin-top:10px;
} 
.contact-panel .btn{
  float: left;
}
input, textarea, button{
  margin: 5px;
  border-radius: 10px;
  outline: 0px;
}
input{
  height: 50px;
}
textarea{
  height: 220px;
  padding-top: 15px;
}

@media (max-width: 500px){
  article img{
    width: 100%;
  }
}