a{
  color: #000;
  font-size:  18px
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Oswald', sans-serif;
}
h2{
  text-indent: 30px;
}
textarea{
  height: 200px;
}
.about{
  background-color: rgba(255, 216, 1, .3);
  border: 2px solid #FFFF33;
  border-radius: 5px;
  padding: 5px;
}
.aboutMain{
  height: 450px;
  text-indent: 10px;
  font-size:  24px;
}
.aboutInfo{
  height: 225px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size:  16px;
}
.anchorLink:hover{
  color: #000;
}
.carousel{
  height: 600px;
  background-color: black;
}
.carousel .item{
    height: 600px;
    margin-bottom: 60px;
    width: 100%;
    background-color: black;
}
.carousel-inner> .item > img{
  height: 600px;
  width: 100%;
}
.container-fluid{
  /*background: url("http://cf067b.medialib.glogster.com/supersaiyinppg11/media/93/931c9aefb14d83a856a3e1b445fcf7b014fae640/bloody-wall-paper.png");*/
  height: 650px;
  background-color: black;
  border-bottom: white solid 1px;
  color: white;
}
.form{
  background-color: rgba(229, 228, 226, .7);
  padding: 15px;
  height: 500px;
  padding: 5px;
  border-radius: 5px;
}
.hidden{
  visibility: hidden;
}
.hiddenAnchor{
  background-color: #F88017;
  visibility: hidden;
  position: fixed;
  bottom: 0px;
  z-index: 98;
  padding: 5px;
}
.inline{
  display: inline;
}
.last_name{
  margin-left: 16.5%;
}
.menu{
  background-color:#F88017;
  height: 55px;
  padding: 5px;
  z-index: 99;
}
.name{
  border-radius: 5px;
  height: 40px;
  padding: 3px;
}
.nav-pills > li.active > a, .nav-pills>li.active>a:hover {
  background-color: #000;
  color: #F88017;
  font-weight: bold;
}
.nav-pills > li> a:hover{
  background-color:#000;
  color: #F88017;
  font-weight: bold;
}
.sticky{
  position: fixed;
  top: 0px;
}
.visible{
  visibility: visible;
}
#about{
  background-color: #FFDB58;
  background-size: cover;
  color: #F88017;
}
#photo{
  background: url(https://raw.githubusercontent.com/kellyjovan/kellyjovan.github.io/master/evil_fictional_character/images/Seryu_Ubiquitous_main.png);
  background-size: cover;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 230px;
  font-family: 'Roboto', sans-serif;
}
/*#photo:hover {
-webkit-filter: invert(100%);
}*/
#store{
  background: url();
  background-size: cover;
}
#top{
  position:absolute;
  top:0;
  z-index:-1;
}